export HOST = i686-elf
export CC = ${HOST}-gcc
export AR = ${HOST}-ar
export LD = ${HOST}-ld
export AS = nasm

export LDFLAGS = -Tkernel/arch/i386/linker.ld -melf_i386
export CPPFLAGS = -D__is_kernel -Ikernel/include
export LIBS = -nostdinc -lk -lgcc

export KERNEL_ARCH_C_SOURCES := $(shell find kernel/arch/i386 -name **.c)
export KERNEL_ARCH_ASM_SOURCES := $(shell find kernel/arch/i386 -name **.asm)
export KERNEL_ARCH_C_OBJECTS := $(shell echo $(KERNEL_ARCH_C_SOURCES:.c=.o) | sed 's/kernel/build/g')
export KERNEL_ARCH_ASM_OBJECTS := $(shell echo $(KERNEL_ARCH_ASM_SOURCES:.asm=.o) | sed 's/kernel/build/g')

